* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #F6F6F6;
    color: #361134;
    margin: 0;
    padding: 20px;
    font-size: 18px; 
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    color: #1351C2;
    font-size: 36px; 
}

header p {
    color: #B22222;
    font-size: 20px; 
}

#program {
    margin-top: 20px;
}

.week {
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.week img {
    max-width: 400px; 
    max-height: 400px;
    margin-right: 20px;
}

.week .content {
    flex-grow: 1;
}

.week h3 {
    margin: 0;
    color: #1351C2;
    font-size: 24px; 
}

.week p {
    margin: 5px 0;
    font-size: 18px; 
}

#contact {
    margin-top: 20px;
    text-align: center;
}

#contact h2 {
    color: #1351C2;
    font-size: 28px; 
}

#contact p {
    color: #B22222;
    font-size: 18px; 
}

a {
    color: #EE964B;
    text-decoration: none;
    font-size: 18px; 
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: #f6f6f6;
    color: #361134; 
    text-align: center;
    padding: 10px 0;
    position: fixed; 
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 14px;
  }

/* Mobile devices (screen width less than 600px) */
@media only screen and (max-width: 600px) {
    body {
        padding: 10px;
        font-size: 16px;
    }

    header h1 {
        font-size: 28px;
    }

    header p {
        font-size: 18px;
    }

    .week {
        flex-direction: column;
        align-items: flex-start;
    }

    .week img {
        max-width: 100%;
        height: auto;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .week .content {
        width: 100%;
    }

    .week h3 {
        font-size: 20px;
    }

    .week p {
        font-size: 16px;
    }

    #contact h2 {
        font-size: 24px;
    }

    #contact p {
        font-size: 16px;
    }

    footer {
        font-size: 12px;
    }
}

/* Tablet devices (screen width less than 768px) */
@media only screen and (max-width: 768px) {
    body {
        padding: 15px;
        font-size: 17px;
    }

    header h1 {
        font-size: 32px;
    }

    .week img {
        max-width: 50%;
    }

    .week h3 {
        font-size: 22px;
    }

    .week p {
        font-size: 17px;
    }

    #contact h2 {
        font-size: 26px;
    }

    footer {
        font-size: 13px;
    }
}
